= render_partial 'shared/nav'

h1 Goalies hit goals
p ToDo list for people who set goals.


h2 Circles & Quarters
p Goalies has two opinions

h3 Circles
p A balanced life is composed of managed 3 core aspects.
h4 Personal life
p Your personal life is your body, soul, and spirit.
p Goalies is designed to have you remain aware of this aspect of your pursuits.
h4 Relationships
p relationships are the heart of life. Are you activitley doing things that help people?
h4 Responsibilities
p These are duties like chores, work, and asset management.

h3 Quarters
p Dividing the year into 4 quarters aligns with the four seasons and gives you 90 day windows to accomplish things.

p the reason goalies is set up in 90 day windows is because anything worth doing takes time. And if you plan to do something worthwhile, then you need a substantial amount of time to do so.


