.sub-tasks {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 1em;
  position: relative;

  li {
    position: relative;
    top: 1px;
    background: white;
    display: inline-block;
    border-right: 1px solid $light-gray;
    border-left:  1px solid $light-gray;
    border-top:   1px solid $light-gray;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-left: 1em;
    padding: 0 1em;
  }

  .back {
    background: $light-gray;
    a { color: white; }
  }
}

.sidebar {
  @include media($medium-screen) {
    position: relative;
  }
}

.flag {
  @include media($medium-screen) {
    &:after { content: 'x' }
    position: absolute;
    left: -20px;
    top: 15px;
    cursor: pointer;
    width: 20px;
    height: 40px;
    border: 1px solid $light-gray;
    color: $light-gray;
    padding: 0.2em 0 0 0.3em;
    z-index: 100;
  }
}

.sidebarClosed {
  @include media($medium-screen) {
    position: absolute;
    right: -99px;
    top: 0;
    height: 1000px;
    border-left: 1px solid $light-gray;
    width: 100px;
  }
}

.sidebarOpen {
  @include media($medium-screen) {
    position: relative;
    border-left: 1px solid $light-gray;
    min-height: 760px;
    padding-left: 2em;
    padding-top: 2em;
  }
}
