.sub-tasks {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 1em;
  position: relative;

  li {
    position: relative;
    top: 1px;
    background: white;
    display: inline-block;
    border-right: 1px solid $light-gray;
    border-left:  1px solid $light-gray;
    border-top:   1px solid $light-gray;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-left: 1em;
    padding: 0 1em;
  }

  .back {
    background: $light-gray;
    a { color: white; }
  }

}

.sidebar-drawer {
  @include span-columns(12);
  @include media($medium-screen) {
    border-left: 1px solid $light-gray;
    min-height: 760px;
    padding-left: 2em;
    @include span-columns(5);
  }
  @include media($large-screen) {
    @include span-columns(4);
  }

  .flag {
    @include span-columns(12);
    @include media($medium-screen) {
      cursor: pointer;
      width: 20px;
      height: 40px;
      border: 1px solid $light-gray;
      color: $light-gray;
      padding: 0.2em 0 0 0.3em;
      margin-left: -3.25em;
      margin-top: 1em;
      z-index: 100;
    }
    @include media($large-screen) {
    }
  }
}

.sidebarClosed {
  display: none;
   a.flag & {
    border: 10px solid red;
   }
}
