// snoozed

.snoozed {
  .name {
    margin-right: 1em;
  }
}
// Task form

.new-task-form {
  input[type="text"] {
    border: none;
    border-bottom: 1px solid $light-gray;
    box-shadow: none;
  }
  @include row;
  .task {
    @include media($medium-screen) {
      @include span-columns(9);
    }
    @include media($large-screen) {
      @include span-columns(10);
    }

  }
  .submit {
    @include media($medium-screen) {
      @include span-columns(2);
    }
    @include media($large-screen) {
      @include span-columns(2);
    }
  }
}



